<cdk-virtual-scroll-viewport class="body-table" itemSize="65" style="height: 400px; background: #FFFFFF">
  <div class="row-table" *cdkVirtualFor="let tableRow of tableData">
    <div class="cell-table">
      {{tableRow.name}}
      <div class="genre-wrapper">

        <div *ngFor="let genre of showGenres(tableRow.genre)"
             class="genre-item"
             [style.background]="colorForItem(genre)"
        >
          {{genre}}
        </div>
      </div>

    </div>
    <div class="cell-table">
      {{tableRow?.season}}
    </div>
    <div class="cell-table">
      {{tableRow.channel}}
    </div>
    <div class="cell-table">
      {{tableRow.year}}
    </div>

  </div>
</cdk-virtual-scroll-viewport>


